{% extends 'partials/base.html' %}

{% load static %}

{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">


                                    <div class="heading_s1">
                                        <h3 class="mb-5">Add New Address</h3>

                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.address }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.city }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.state }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.mobile }}
                                        </div>
                                        <div class="form-group mb-30">
                                            <button type="submit"
                                                class="btn btn-fill-out btn-block hover-up font-weight-bold"
                                                name="login">Submit</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}